*{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%; /* Ширина элемента */
    left: 50%; /* Сдвигаем левый край элемента к центру */
    transform: translateX(-50%); /* Сдвигаем элемент влево на половину его ширины для центрирования */
    color: rgba(56, 56, 56, 0.452);
}